 
 <h1>gjgjh</h1>
 <% @current_user.follow_requests.each do |request| %>
    <%= request.followerable.email %> wants to follow you
    <%= button_to "Accept", accept_path(request.followerable) %>
    <%= button_to "Decline", decline_path(request.followerable) %>
  <% end %>
  <hr />
  <% @current_user.followers.each do |user| %>
    <%= link_to user.email %> is following you
    <%= button_to "Unfollow", unfollow_path(user) %>
  <% end %>