 <section class="card my-5 shadow" style="background-color: rgba(114, 108, 248, 0.3);">
                   <div class="card-body">
      
                    <h3 class="card-subtitle mb-3 text-white">Application form  To post for Job Recruitment</h3>

<div class=" mb-3">
    <h5> By :</h5>
    <%= @job_navigation.user.email %>
    </div>
   
    <div class=" mb-3">
    <h5>JOB TITLE :</h5>
    <%= @job_navigation.jobtitle%>
    </div>


    

    <div class=" mb-3">
     <h5>JOB DESCRIPTION :</h5>
     <%= @job_navigation.jobdescription %>
   
    </div>

    <div class=" mb-3">
     <h5>NUMBER OF VACANCY :</h5>
   
     <%= @job_navigation.novac %>
   
    </div>

    <div class=" mb-3">
    <h5>SKILL:</h5>
     <%= @job_navigation.skill%>
     
   
    </div>

      <div class=" mb-3">
    <h5>JOB ROLE:</h5>
     <%= @job_navigation.jobrole%>
   
    </div>
           
      <div class=" mb-3">
    <h5>JOB SECTOR:</h5>
     <%= @job_navigation.jobsector%>
   
    </div>

    <h2>Apply For This Job:</h2>
    <%= form_with model: [ @job_navigation, @job_navigation.applies.build ] do |form| %>
  <p>
   <div class="mb-3">
     <%= form.label :cv, "Upload Cv" %>
     <%=form.file_field :cv %>
  </div>
  <p>
    <%= form.submit %>
  </p>
<% end %>

    <h2>Add a comment:</h2>
<%= form_with model: [ @job_navigation, @job_navigation.reviews.build ] do |form| %>
  <p>
    <%= form.label :reviewer %><br>
    <%= form.text_field :reviewer %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<h2>Comments</h2>
<% @job_navigation.reviews.each do |review| %>
  <p>
    <strong>Commenter:</strong>
    <%= review.reviewer %>
  </p>

  <p>
    <strong>Comment:</strong>
    <%= review.body %>
  </p>
<% end %>

    </div>

     </section>
    
